/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #4caf50;
    padding: 20px;
    color: white;
    text-align: center;
}

.logout-button,
.userportal {
    background-color: #2196F3; /* Blue */
    color: white;
    border: 2px solid #2196F3; /* Blue */
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 10px;
}

.userportal {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Flash Message Styles */
.flash-message {
    padding: 15px;
    margin: 20px auto;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flash-success {
    background-color: #4caf50; /* Green */
    color: white;
}

.flash-info {
    background-color: #2196F3; /* Blue */
    color: white;
}

.flash-warning {
    background-color: #ff9800; /* Yellow */
    color: white;
}

.flash-error {
    background-color: #f44336; /* Red */
    color: white;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

/* Button Styles */
.book-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.book-button:hover {
    background-color: #45a049;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
